<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rodrigoftw.myworkouttracker.myworkouttracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyWorkoutTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mwt2"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ForgotPasswordActivity"
            android:label="@string/forgot_password_title"
            android:theme="@style/ForgotPasswordTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.TrainingScheduleActivity"
            android:label="@string/home_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.CalendarActivity"
            android:label="@string/calendar_title"
            android:theme="@style/CalendarTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.HistoryActivity"
            android:label="@string/history_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.UserDataActivity"
            android:label="@string/user_data_title"
            android:theme="@style/EditUserDataTheme"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.HelpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
        </activity>

        <activity android:name=".activity.AboutActivity"
            android:label="@string/about_title"
            android:theme="@style/EditUserDataTheme"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

    </application>

</manifest>